<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>INPUT</title>
  </head>
  <body>
      <form name="test" method="post" action="" >
            <p>
                <b>Your name:</b><br />
                <input id="name" name="name" type="text" size="40" />
            </p>
            <p>
                <b>Password:</b><br />
                <input id="password" name="password" type="text" size="40" />
            </p>
            <p>
                <input type="submit" value="submit" />
                <input type="reset" value="cancel" />
            </p>
        </form>
    </body>
    </html>

{{!-- 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>

    <!-- Uses built-in `if` helper. -->
  {{#if showTitle}}
    <h1>Home</h1>
  {{/if}}

    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>

    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>

</body>
</html> --}}











