<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/gyms.css">
  <title>Gyms:</title>
</head>

<body>
  <div id="gyms" class="card-group"></div>
  <script>
    let str = "";
    fetch('/api/gyms').then(function (res) {
      const p = res.json();
      return p;
    }).then(function (resolvedValue) {
      resolvedValue.forEach((elem) => {
        str += '<div class="card"><div class="img-content"><img src="' + elem.photo + '"alt=" ' + this.name + '"></div>' +
          '<div class="card-body"><h5 class="card-title">' + elem.name + '</h5><p class="card-text">' + elem.adress + '</p>' +
          '<div class="col-md-4 text-center"><a href="/gyms/' + elem.id + '" class="btn btn-primary">Details</a></div></div></div>'
        document.getElementById("gyms").innerHTML = str;
        console.log(str);
      });
    }).catch(function (err) {
      console.log(err);
    });

  </script>
  <button class="btn btn-primary" type="button" onclick="createGym(1)" id="insert" value="Add new Product">CREATE GYM</button>


  <form id="createGym" method="post" action="">
    <p>
      <b>Name:</b><br />
      <input id="name" name="name" type="text" size="40" />
    </p>
    <p>
      <b>Adress:</b><br />
      <input id="adress" name="adress" type="text" size="40" />
    </p>
    <p>
      <b>Link to photo:</b><br />
      <input id="photo" name="photo" type="text" size="40" />
    </p>
    <p>
      <input type="submit" value="submit" onclick="createGym(0)" />
      <input type="reset" value="cancel" onclick="createGym(0)"/>
    </p>
  </form>

  <script type="text/javascript">
    window.onload = function () {
      document.getElementById("createGym").style.display = "none";
    };
    function asd(a) {
      if (a == 1) {
        document.getElementById("createGym").style.display = "block";
      } else {
        document.getElementById("createGym").style.display = "none";
      }
    }
  </script>
</body>

</html>