<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Gyms:</title>
</head>

<body>
{{#each data}}
{{this.name}} - {{this.adress}} <img src=http://localhost:3000/photos/{{this.photo}} "><br/>
{{/each}}
</body>

</html>